* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor__principal {
  font-family: sans-serif;
}
.contenedor {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.encabezado,
.contenedor__principal {
  background-color: #3b92d1;
}
.encabezado {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.encabezado__logo {
  height: 2rem;
}
.destacados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.destacados__container__a {
  width: calc(100vw - 1rem);
  max-width: 400px;
  margin-bottom: 1rem;
}
.destacados__mensaje,
.destacados__texto {
  color: #2977b0;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
}
.destacados__texto {
  border-radius: 10px;
  font-size: 1rem;
  height: 16rem;
  resize: none;
}
.destacados__mensaje {
  font-size: 20px;
  border-radius: 1rem;
  height: 1rem;
  min-height: 21rem;
  background-image: url("imagenes/Muñeco.png");
  background-size: 200px 342px;
  background-position: center;
  background-repeat: no-repeat;
}
.botones__parrafo {
  justify-items: start;
  margin: 0.2rem;
  font-size: 0.8rem;
  color: #b8d6f5;
  cursor: help;
}
.btn {
  background: #315db5;
  border: 1.2px silver solid;
  color: #fff;
  width: 100%;
  height: 3rem;
  border-radius: 24px;
  font-size: 0.8rem;
  margin: 2px;
}
.btn:hover {
  box-shadow: -2px -1px 8px 0#fff, 2px 1px 8px 0#5f9de77a;
  transition: 0.1s;
}
.btn:active {
  background: #3b60d1;
}
.destacados__container__b {
  width: calc(100vw - 1rem);
  max-width: 300px;
  box-shadow: 0 24px 32px -8px #00000014;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #fff;
}
.destacados__parrafo {
  font-size: small;
  color: #0a3871;
  text-align: center;
  position: relative;
  bottom: 2rem;
}
.footer {
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
  height: 1rem;
  color: #000;
}
.github,
.linkedin {
  display: none;
  margin: 0 0 0 10px;
  color: #000;
}
.github:hover,
.linkedin:hover {
  color: #fff;
}

@media only screen and (min-width: 768px) {
.encabezado__logo {
  height: 3rem;
}

.destacados {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 5rem;
  gap: 1rem;
}

.destacados__container__a {
  max-width: 33rem;
  margin-bottom: 1rem;

}

.destacados__texto{
  height: 14rem;
  font-size: 1.2rem;
}

.botones__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.botones__parrafo{
  font-size: 1rem;
  margin: 1rem;
}

.btn{
  font-size: 1rem;
  width: 16rem;
  height: 4rem;
  border-radius: 24px;
  font-size: 1rem;
  margin: 0.1rem;
}

.destacados__mensaje {
  color: #2977b0;
}

.destacados__container__b{
  background: #3b6dd1;
}

.footer {
  font-size: 0.9rem;
}

.github,
.linkedin {
  margin: 0 0 0 10px;
  color: #000;
}
.github:hover,
.linkedin:hover {
  color: #fff;
}
}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .destacados {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 15rem 0 21rem 0;
  }
}


